# Gemini API Key for Veo video generat
GEMINI_API_KEY=

# Square configurations
SQUARE_ACCESS_TOKEN=
SQUARE_ENVIRONMENT=
SQUARE_LOCATION_ID=

# Base44 configuration
BASE44_APP_ID=
BASE44_API_KEY=
VITE_BASE44_APP_ID=

